@import "tailwindcss";

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/eirene/EireneSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Rushford";
  src: url("/fonts/rushford/Rushford.otf") format("opentype");
}

@font-face {
  font-family: "Dropline Regular";
  src: url("/fonts/dropline/DroplineRegular.otf") format("opentype");
}

/* 🎨 Palette perso en variables globales */
@layer base {
  :root {
    /* === Tes couleurs principales === */
    --onyx: #32373bff;
    --outer-space: #4a5859ff;
    --khaki: #c3b299ff;
    --carmine: #9a031eff;
    --chestnut: #994636ff;

    --espresso: #603018;
    --capeHoney : #fdeaa3;
    --sisal: #d3d0bc;
    --limedSpruce: #304c4a;

    /* === Radius et fonts === */
    --radius: 0.5rem;
    --font-eirene: "Eirene Sans", "sans-serif";
    --font-rushford: "Rushford", "sans-serif";
    --font-dropline: "Dropline Regular", "serif";
  }
}

/* === Définition du thème Tailwind inline === */
@theme {
  --color-primary: var(--limedSpruce); /* (titres, texte, boutons principaux) */
  --color-secondary: var(--capeHoney); /* (borders, sous-titres, icônes) */
  --color-accent: var(--limedSpruce); /* (boutons, liens, alerte) */
  --color-accent-dark: var(--limedSpruce); /* hover boutons ou effets focus */
  --color-background: var(--sisal); /* fond générale */
  --color-foreground: var(--espresso); /* texte sur le fond clair */
  --font-eirene: var(--font-eirene);
  --font-rushford: var(--font-rushford);
  --font-dropline: var(--font-dropline);
}

.bg-antique-white-image {
  background-image: url("/img/bg-left.png");
  background-color: #f0e7d8;
}

@layer base {
  body {
    @apply bg-background;
  }
}
